        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner">
                {% for avatar in avatars %}
                    <div class="carousel-item{% if avatars|first == avatar %} active{% endif %}">
                        <img src="{{ asset('avatars/' ~ avatar ~ '.jpg') }}" class="rb-avatar d-block rounded img-thumbnail" alt="{{ avatar }}">
                    </div>
                {% endfor %}
            </div>
        </div>