{% extends 'base.html.twig' %}

{% block title %}Royal Beef!{% endblock %}
{% block stylesheets %}<link src="{{ asset('css/avatar.css') }}">{% endblock %}
{% block body %}

<div class="container">
    <h1>Welcome to Royal Beef</h1>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('avatars/alex.jpg') }}" class="d-block w-100" alt="Kalipso">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Kalipso</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('avatars/baerti.jpg') }}" class="d-block w-100" alt="Bärti">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bärti</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('avatars/chris.jpg') }}" class="d-block w-100" alt="Chris">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Chris</h5>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock %}
