{% extends 'base.html.twig' %}

{% block title %}Royal Beef!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
{% set i = 0 %}
        <div class="row mt-2">
            <div class="col">
                <a class="btn bg-dark font-weight-bolder text-light" href="{{ path('beef') }}" role="button">Lets beef</a>
            </div>
        </div>
{% endblock %}
