    <table class="table table-dark text-info col-4 float-right">
        <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for player,results in sumScore %}
            <tr>
            <td class="text-light">{{ player }}</td><td class="text-light">{{ results.score }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
