    <table class="table table-sm table-dark table-bordered table-striped">
        <caption>SpielrundenergebnisseSummiert</caption>
        <thead class="thead-light">
        <tr>
            <th>Player</th>
            <th>Score (points earned)</th>
        </tr>
        </thead>
        <tbody>
        {% for player,results in sumScore %}
            <tr>
            <td>{{ player }}</td><td>{{ results.result }} ({{ results.score }})</td>
            </tr>{% endfor %}
        </tbody>
    </table>
